.wrap {
    width: 300px;
    margin: 150px auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 240px;
    height: 280px;
    margin: auto;

    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/2022_FIFA_World_Cup.svg/1200px-2022_FIFA_World_Cup.svg.png");
    background-position: center;
    background-size: cover;

}