* {
    font-family: 'Noto Sans KR', sans-serif;
}

:root {
    --font-size-lg: 3.3rem;
    --font-size-md: 1rem;
    --font-size-sm: 1rem;
}

@media (min-width: 580px) {
    :root {
        --font-size-lg: 4.375rem;
        --font-size-md: 1.25rem;
        --font-size-sm: 0.938rem;
    }
}

.mytitle {
    max-width: 500px;
    width: 95%;
    height: 250px;
    margin: auto;
    color: black;
    font-size: var(--font-size-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mytitle > h1 {
    font-size: var(--font-size-lg);
    font-family: 'Staatliches', cursive;!important
}

.loginbox {
    max-width: 500px;
    width: 95%;
    margin: 20px auto 20px auto;
    box-shadow: 0 0 3px 0 gray;
    padding: 20px;
}

.mybtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px auto;
}

.mybtn > button {
    max-width: 500px;
    width: 95%;
    margin-bottom: 10px;
}
