* {
    font-family: 'Noto Sans KR', sans-serif;
}

.mytitle {
    max-width: 500px;
    width: 95%;
    height: 200px;
    margin: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mytitle > h1 {
    font-size: 70px;
    font-family: 'Staatliches', cursive;!important
}

.loginbox {
    max-width: 500px;
    width: 95%;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 3px 0 gray;
    padding: 20px;
}

.mybtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px auto;
}

.mybtn > button {
    max-width: 500px;
    width: 95%;
    margin-bottom: 10px;
}